.App {
 /*text-align: center;*/
}


.CountryInfo {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  padding: 10px;
  min-width: 50%;
  min-height: 100%;
  border: 1px solid #320a01;
}

.CountryList {
  margin: 10px;
}

.Info {
  display: inline-block;
}
.Flag {
  display: inline-block;
  vertical-align: top;
  float: right;
}